.navBar {
  padding: 5px 0;
  background-color: #141519;
}

#navBar-logo {
  height: 3em;
}

.navBar ul {
  margin: 0;
  list-style: none;
}

.navBar li {
  display: inline-block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  font-weight: 700;
  margin-right: 30px;
}

.navBar a {
  transition: color .25s;
  color: white;
}

.navBar a:hover {
  color: #f5592e;
  cursor: crosshair;
}

@media (min-width: 0px) and (max-width: 480px) {
  .navBar li {
    display: block;
    margin-bottom: 10px;
  }
  
  .navBar li:not(:first-of-type) {
    margin-left: 5%;
    font-size: 1.2em;
  }
}
